In [1]:
import sqlalchemy
#Importacion de biblioteca Pandas
import pandas as pd
import locale

In [2]:
# Descargamos el conjunto de datos de Kaggle
df = pd.read_csv("A:\programacion\kaggle_project\datasets\ProductPriceIndex.csv")
locale.setlocale(locale.LC_ALL, "es_AR.utf8")

'es_AR.utf8'

In [3]:
# Visualizamos los datos
df

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
...,...,...,...,...,...,...,...,...
15761,Broccoli Crowns,1999-10-24,$0.29,$1.46,$0.00,$0.97,$1.15,208.62%
15762,Broccoli Bunches,1999-10-24,$0.23,$1.21,$0.00,$0.84,$1.10,242.39%
15763,Cauliflower,1999-10-24,$0.19,$1.01,$0.00,$0.75,$0.92,252.63%
15764,Carrots,1999-10-24,$0.12,$0.64,$0.00,$0.84,$0.59,331.25%
15765,Cantaloupe,1999-10-24,$0.21,$0.54,$0.00,$0.56,$0.79,125.00%

In [4]:
# Eliminar la fila con el nombre vacío
df = df.dropna(subset=['productname'])
df = df.dropna(subset=['date'])

In [5]:
df.columns = ['producto', 'fecha', 'precio_agricola', 'precio_atlanta', 'precio_chicago', 'precio_la', 'precio_ny', 'margen_venta']

In [6]:
df['producto'] = df['producto'].astype('str')#Formato string
df['fecha'] = pd.to_datetime(df['fecha'])#Formato a la fecha
df['fecha'] = df['fecha'].dt.strftime("%d-%b-%Y")#Modifico el fomato de la fecha

In [7]:
df['margen_venta']=df['margen_venta'].str.replace('%', '').str.replace(',', '')
df['margen_venta'] = pd.to_numeric(df['margen_venta'])

In [8]:
columnas=df.columns
for i in columnas:
    if i!='producto' and i!='fecha' and i!='margen_venta':
        df[i]=df[i].str.replace('$', '')
        df[i] = pd.to_numeric(df[i])

In [9]:
engine = sqlalchemy.create_engine("sqlite:///proyecto_agricola.db")

In [10]:
df.to_sql("precios", engine, index=False)

15766